<!DOCTYPE html>
<html>
    <head>
        <title>
            投票系統
        </title>
        <style type="text/css">
        body{
            font-size: 16px;font-family: "微軟正黑體";
            }

        </style>
        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        <div>
            <h2 style="font: size 30px;">國立台灣大學森林記環境資源學系系學會會長選舉投票</h2>
        </div>
        <div >
            <h4 style="font: size 20px;"><a href="verify.html">進入投票</a></h4>
        </div>
    </body>
</html>